@keyframes slide {
	from {
		left: 0px;
		top: 0px;
	}
	to {
		left: 500px;
		top: 200px;
	}
}

body{
	background-color: #E5FFFA
}
h1{
	color: #FA5EB2;
	position: relative;
	left: 500px;
	top: 200px;
	animation-name: slide;
	animation-duration: 300s;
}
h2{
	color: #FA5EB2;
}
p{
	color: #FA5EB2;
	font-size: 24px;
}